# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/

# Database
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
Thumbs.db
